spring:
  application:
    name: subscription-platform
  
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_subscription
    username: postgres
    password: 1234
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html